body {
  background-color: var(--background-color);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  height: 100vh;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card {
  background-color: var(--advice-card-color);
  width: 345px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.container .card h3 {
  font-size: 15px;
  letter-spacing: 5px;
  color: var(--advice-dice-color);
  margin-top: 30px;
}
.container .card p {
  font-size: 16px;
  margin: 25px;
  color: var(--text-color);
}
.container .card .divider {
  width: 300px;
  margin: auto;
}
.container .card .button {
  max-width: 40px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: var(--advice-dice-color);
  border: none;
  transform: translateY(50%);
}
.container .card .button:hover {
  color: #53ffab;
  cursor: pointer;
  box-shadow: 0 5px 15px var(--advice-dice-color);
}
.container .card .image {
  width: 20px;
}
